<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/dice/2/6">2d6</a>
    <a href="/dice/2/10">2d10</a>
    <a href="/dice/1/20">1d20</a>
    <a href="/dice/5/4">5d4</a>
  </div>

  <h1><%= @heading_text %></h1>
  <ul>
    <% @results.each do |result| %>
      <li><%= result %></li>
    <% end %>
  </ul>
</body>
</html>
